@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    /*========== Kleuren ==========*/
    --hue: 240;
    --blauw: #042940;
    --donker-groen: #005c53;
    --groen: #9fc131;
    --ligt-groen: #dbf227;
    --container: #F1F5F9;
    --wit: #fff;
}
*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}

.none{
  display: none;
}
.block{
  display: block;
}


button{
    cursor: pointer;
    border: none;
    outline: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--container);

}
/* Header */
header{
    width: 100%;
    background-color: var(--blauw) ;
    height: 54px;
    display: flex;
    align-items: center;
    padding: .25em .5em;
    justify-content: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-bottom: white solid 5px;
    z-index: 1;
}


header i{
    color: var(--wit);
    font-size: 42px;
}

/* Main */
main{
  padding: 1em;
}
/* Model */
/* .modal-wrapper{
  display: grid;
  place-items: center;
} */

.modal {
    /* position: absolute; */
     box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
     border: none;
}

.modal::backdrop {
     background: rgb(0 0 0 / 0.5);
     opacity: 0;
}

.modal[open] {
  animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

.modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 500ms forwards;
}


/* Form */
form {
    background-color: #fff;
    max-width: 48rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-top: 1rem;
    border-radius: 0.375rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    /* position: relative; */
    z-index: 3;
  }

form h2{
    grid-row: 1;
    grid-column: 1/2;
}


.modal__close{
    display: inline-flex;
    position: absolute;
    background-color: var(--blauw);
    border-radius: .25rem;
    color: #FFF;
    font-size: 1.5rem;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
h1{
    color: var(--wit);
    background-color: var(--blauw);
    width: fit-content;
    text-decoration-line: underline;
    margin-left: 5px;
}
.form-group label {
    display: inline-block;
    margin-bottom: .5rem;
    color: rgba(51, 65, 85);
  }

  .form-group input {
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #e2e8f0;
    line-height: 1.5;
    padding: 0.5rem;
  }

  .toevoegen{
    background-color: var(--blauw);
    color: #FFF;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
  }
  
  .sluiten{
    display: block;
    margin: 1rem auto 0;
    background-color: transparent;
    color: var(--blauw);
    font-weight: 500;
  }

/* Render article */
.article-header{
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5em;
}
.article-header button{
  width: 266px;
}
.members{
  margin-top: 3em;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.member{
  padding: 2rem;
  background-color: var(--ligt-groen);
  text-align: center;
  color: var(--blauw);
}

/* Animaties */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}


/* Big screen */
  @media (min-width: 40rem){
    form{
        margin: auto;
        grid-template-columns: 1fr 1fr;

    }
    
    main{
      max-width: 1200px;
      margin: auto;
      
    }
    .modal{
      top: 25%;
      left: 25%;
      position: absolute;
    }
  }